body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
}

.app-header {
  display: flex;
  background-color: rgb(87, 133, 59);
  padding: 1rem;
}

.app-content {
  padding: 1rem;
}

.primary-nav {
  flex: 1 1 50%;
}

.primary-nav ul[role=navigation] {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.primary-nav ul[role=navigation] li {
  display: inline-block;
}

.hidden {
  display: none;
}